.agents-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    
}

.agents-header{
    font-size: clamp(1rem, 12vw, 4rem);
    text-align: center;
    padding: 2rem;
    color: var(--golden);
    text-shadow: 3px 3px black;
    background-color: var(--bg-semi-dark);
    width: 100%;
    border-block: 1px dotted var(--golden);
}

.agents-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 3rem;
    max-width: 60rem;
    padding: 1rem;
}

.agent-article{
    max-width: 25rem;
    width: 100%;
    background-color: var(--bg-semi-dark);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 31px -9px rgb(10, 8, 8);
    -moz-box-shadow: 0px 0px 31px -9px rgb(10, 8, 8);
    box-shadow: 0px 0px 31px -9px rgb(10, 8, 8);
    border-radius: 1rem;
    gap: 1rem;
}

.agent-name{
    font-size: 2.30rem;
    color: var(--golden);
    padding-bottom: 1rem;
    border-bottom: 1px dashed var(--golden);
    text-shadow: 2px 2px black;
}

.agent-areas-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    gap: .5rem;
    padding-bottom: 1rem;
    border-bottom: 1px dashed var(--golden);
}

.agent-areas{
    font-size: 1.25rem;
    text-shadow: 1px 1px black;
}

.area-name{
    padding: .5rem;
    background-color: rgb(104, 104, 104);
    border-radius: .25rem;
    text-shadow: 1px 1px black;
}

.phone-span{
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

@media only screen and (max-width: 600px){
    .agents-container{
        grid-template-columns: 1fr;
    }
}