.products-section{
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    margin-top: 25vh;
}

.products-title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    font-size: clamp(1rem, 12vw, 4rem);
    padding: 2rem;
    /* border-block: 1px dashed var(--golden); */
    border-bottom: 1px dashed var(--golden);
    text-shadow: 4px 4px black;
    margin-top: var(--navbar-height);
    background-color: rgb(61, 61, 61);
}

.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(61, 61, 61);
}

.product-category-container{
    max-width: 100rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding: 2rem;
    gap: 1.5rem;
    
}

.product-category{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
    background-color: rgb(44, 44, 44);
    border-radius: 2rem;
    max-width: 25rem;
    width: 100%;
    -webkit-box-shadow: 0px 0px 31px -9px rgba(0, 0, 0, 1);
-moz-box-shadow: 0px 0px 31px -9px rgba(0, 0, 0, 1);
box-shadow: 0px 0px 31px -9px rgb(107, 107, 107);
}
.product-list{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: .75rem;
    width: 100%;
}
.product-list > li{
    padding: .25rem 0rem;
    font-size: 1.15rem;
    text-shadow: 2px 2px black;
    color: #d1ccc0;
    width: 100%;
}
.product-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    width: 100%;
    font-size: 2rem;
    color: var(--golden);
    border-bottom: 1px solid var(--golden);
}


@media only screen and (max-width: 800px) {
    .product-category-container{
        grid-template-columns: 1fr;
        gap: 2rem;
        margin-top: 1rem;
    }
}