.navbar{
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--bg-dark);
    display: flex;
    align-items: center;
    padding: 0 2rem;
    justify-content: space-between;
}

.navbar-list{
    display: flex;
    gap: 2rem;
    list-style: none;
    transition: opacity 1s ease-in-out;
}

.navbar-link{
    text-decoration: none;
    padding: .25rem;
    font-weight: 400;
    color: rgba(255,255,255,.5);
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.navbar-link:hover{
    color: rgb(218, 218, 218);
}

.logo-link{
    font-weight: 700;
    font-size: 2rem;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.active{
    color: white;
}

.navbar-separator{
    margin-top: var(--navbar-height);
}

.navbar-right{
    display: flex;
    align-items: center;
}

.hamburger-span{
    display: none;
    color: white;
}


@media only screen and (max-width: 700px) {
    .navbar{
        flex-direction: column;
        justify-content: center;
    }
    
    .hamburger-span{
        display: block;
    }

    .navbar-list{
        display: none;
        position: inherit;
        top: var(--navbar-height);
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 0;
    }

    .navbar-list li{
        width: 100%;
        background-color: var(--bg-dark);
    }

    .navbar-left{
        width: 100%;
        display: flex;
        height: var(--navbar-height);
        align-items: center;
        justify-content: space-between;
    }

    .navbar-link{
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 1rem;
    }

    .navbar-link:hover{
        background-color: rgb(90, 90, 90);
    }

    .showed{
        display: block;
    }

}