@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root{
  --navbar-height: 4rem;
  --aside-width: 12rem;
  --section-height: calc(100vh - (var(--navbar-height)));
  --section-width: calc(100vw - (var(var(--aside-width))));
  --bg-dark: rgb(37, 37, 37);
  --golden: #fdcb6e;
  --dark-blue: #1d2227;
  --bg-semi-dark: rgb(61, 61, 61);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-dark);
  color: white;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
